<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        div{
            border: 2px solid black;
            margin-top: 2vw;
            border-radius: 1rem;
            padding: 1rem;
        }
    </style>
</head>
<body>
    
    <h1>All tasks</h1>
    
    <% for( let index = 0; index < user.tasks.length; index++ ) { %>
        <div>
            <h3><%= user.tasks[index].name %></h3>
            <p>
                <%= user.tasks[index].description %>
            </p>
            <a href="/tasks/<%= user.tasks[index]._id %>">Show In Details</a>
        </div>
    <% } %>
</body>
</html>