<%if(successMsg && successMsg.length){%>
    <p class="success-msg"><%= successMsg %></p>
    <%}%> 
    <% if (errorMsg && errorMsg.length) { %>
    <p class="error-msg"><%= errorMsg %></p>
    <% } %>