<header id="responsive-header">
  <div class="top-header">
    <nav>
      <ul class="ul-1">
        <li>
          <a href="/" id="main-logo">
            <img src="/img/home-page/logo.png" alt="logo" class="logo" />
            <span class="logo-name">PlanHolder</span>
          </a>
        </li>
        <li>
        <li>
          <h1 class="hamburger-menu"><i class="ri-menu-line"></i></h1>
        </li>
    </nav>
  </div>
</header >



<header class="common-header">
    <nav>
      <ul class="ul-1">
        <li>
          <a href="/" id="main-logo">
            <img src="/img/home-page/logo.png" alt="logo" class="logo" />
            <span class="logo-name">PlanHolder</span>
          </a>
        </li>
        <li>
          <button href="" class="drop-btn drop-btn-1" id="why-planholder">Why PlanHolder <i class="ri-arrow-down-s-fill"></i></button>
        </li>
        <li>
          <button href="" class="drop-btn drop-btn-2">Features <i class="ri-arrow-down-s-fill"></i></button>
        </li>
        <li>
          <!-- <a href="">Pricing</a> -->
        </li> 
      </ul>
      <ul>
          <% if (currUser) { %>
            <li class="start-plan"><a href="/dashboard" class="dashboard-link">Dashboard</a></li>
            <% } else { %>
              <li class="start-plan"><a href="/login">Login</a></li>
           <% } %>
        <!-- <li><a href="/plans" class="book-plan">Book a demo</a></li> -->
        <!-- <li><a href="/start-trial" class="start-plan">Start your free trial</a></li> -->
      </ul>
    </nav>
  </header>


  <div class="empty-for-header"></div>

<div class="bottom-header hide" id="bottom-header-options">
    <div>
      <ul class="ul-1">
        <li>
          <button href="" class="drop-btn drop-btn-1" id="">Why PlanHolder <i class="ri-arrow-down-s-fill"></i></button>
        </li>
        <li>
          <button href="" class="drop-btn drop-btn-2">Features <i class="ri-arrow-down-s-fill"></i></button>
        </li>
        <!-- <li>
          <a href="">Pricing</a>
        </li> -->
      </ul> 
      <ul>
          <% if (!currUser) { %>
            <li class=""><a href="/login" class="green-btn-adv">Login</a></li>
            <% } else { %>
              <li class=""><a href="/dashboard" class="dashboard-link green-btn-adv">Dashboard</a></li>
           <% } %>
        <!-- <li><a href="/plans" class="book-plan">Book a demo</a></li> -->
        <!-- <li><a href="/start-trial" class="start-plan">Start your free trial</a></li> -->
      </ul>
    </nav>
  </div>
</div> 

  <div class="drop-out-1 dropout-unactive drop-down">
    <div class="drop-out-par">
      <div id="drop-sec-1">
        <p class="drop-title">Teams</p>
        <div class="drop-out-links">
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Marketing</h4>
              <p>Plan, schedule, and execute marketing  projects seamlessly.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Sales</h4>
              <p>Devise effective sales strategy, stay in touch with clients, and analyze results.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Creative & design teams</h4>
              <p>Visualize design plans, exchange creative ideas, and deliver desired results.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Operations</h4>
              <p>Manage your team, optimize resources, and accelerate performance.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Product development</h4>
              <p>Deliver the best products well within time.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- drop-sec-2 -->
      <div id="drop-sec-2">
        <p class="drop-title">Workflows</p>
        <div class="drop-out-links">
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Remote work</h4>
              <p>Connect with team members, exchange  ideas, and deliver high quality results.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Task management</h4>
              <p>Centralize all important information, track and allocate tasks, prioritize key tasks, and much more.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Project management</h4>
              <p>Plan, execute, track, and manage projects from start to finish.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Agile project management</h4>
              <p>Track sprints, follow a roadmap, and visualize project deadlines.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- drop-sec-3 -->
      <div id="drop-sec-3">
        <p class="drop-title">Explore PlanHolder</p>
        <div class="drop-out-links">
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Integrations</h4>
              <p>Connect with your favourite tools easily with ProofHub.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Customers</h4>
              <p>Learn why our customers love using ProofHub.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Book a demo</h4>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Help center</h4>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Product updates</h4>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Careers</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="drop-out-2 dropout-unactive drop-down">
    <div class="drop-out-par2">
      <!-- drop-sec-1 -->
      <div id="drop-sec-1">
        <p class="drop-title">Views</p>
        <div class="drop-out-links2">
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Task management</h4>
              <p>Manage your tasks effortlessly using boards, table view and workflows.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Gantt chart</h4>
              <p>Set dependencies, pinpoint roadblocks, and stay ahead of deadlines.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Board view</h4>
              <p>Visualize project progress, spot bottlenecks and create unique workflows.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Table View</h4>
              <p>Easily update the status, resources, comments, & progress of multiple projects.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Calender</h4>
              <p>See events, reminders, tasks, and milestones all in one place.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Time</h4>
              <p>Accurately track your team’s time and create time reports in one place.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- drop-sec-2 -->
      <div id="drop-sec-2">
        <p class="drop-title">Community</p>
        <div class="drop-out-links">
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Collaboration</h4>
              <p>Start quick conversations, send timely updates, & receive quick feedback.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Discussions</h4>
              <p>Create discussion topics to share ideas to and fro, give suggestions, send files and docs.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Proofing</h4>
              <p>Review and proof files with markup tools and approve them right where you are.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Chat</h4>
              <p>Have quick one-on-one and group chat with teams and clients.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Announcements</h4>
              <p>Share updates, celebrate achievements, and communicate with the entire team in one place.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Notes</h4>
              <p>A place where you can keep, organize, & share all of your documents in one location.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- drop-sec-3 -->
      <div id="drop-sec-3">
        <p class="drop-title">New</p>
        <div class="drop-out-links">
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Forms</h4>
              <p>Make it easy for teams and clients to request work, support queries, or even tickets.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Custom roles</h4>
              <p>Create custom roles and decide who gets to access what.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Project templates</h4>
              <p>Save time by adding project templates and use them to later create similar projects.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Security</h4>
              <p>Feel assured that your data is protected while processing, storing, or transmitting.</p>
            </div>
          </div>
          <div>
            <div><i class="ri-shut-down-fill"></i></div>
            <div>
              <h4>Reports</h4>
              <p>Get a clear idea of where work stands and measure your entire team’s progress.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>