<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link
      rel="shortcut icon"
      href="/img/home-page/logo.png"
      type="image/x-icon"
    />
    <style>
      :root {
        --top-options: 25dvh;
        --all-list-options: 20dvh;
        --main-bg: #121212;
        --gap-bw: 0.8rem;
        --border-radius: 0.8rem;
      }
      body {
        background-color: black;
        color: white;
      }

      main {
        padding-top: var(--gap-bw);
        display: flex;
        gap: var(--gap-bw);
        width: 100%;
        /* border: 2px solid green; */
        height: 100dvh;
        overflow: hidden;
      }

      main > div {
        width: 30%;
      }

      .overview {
        flex-grow: 2;
        /* border: 2px solid red; */
        gap: var(--gap-bw);
        display: flex;
        flex-direction: column;
      }

      .top-options {
        /* border: 2px solid red; */
        background-color: var(--main-bg);
        height: var(--top-options);
        padding: 1rem;
        border-radius: var(--border-radius);
        /* remove height after adding real element inside top-options */

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }
      main svg {
        width: 1.5rem;
      }
      .top-options a {
        font-size: 1.3rem;
        color: white;
      }
      .top-options div a {
        display: flex;
      }
      .top-options input {
        padding: 0;
        width: 95%;
        font-size: 1rem;
        font-weight: 400;
        padding: 2px 0 2px 7px;
        border-radius: 0.7rem;
        border: none;
      }
      a > div {
        margin-left: 0.5rem;
      }
      .top-options div {
        display: flex;
      }
      .search-icon {
        margin-inline: 0.5rem;
        cursor: pointer;
      }

      .overview > div:nth-child(2) {
        display: flex;
        flex-direction: column;
      }
      .list-section {
        padding: 0.5rem;
        background-color: var(--main-bg);
        border-radius: var(--border-radius);
      }

      .all-list-options {
        /* height: var(--all-list-options); */
        /* border: 2px solid red; */
        color: white;
        border-bottom: 0.5px dotted white;
      }

      .all-list-options > div {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
      }
      .all-list-options > div > div {
        display: flex;
        gap: 0.5rem;
      }
      .all-list-options svg {
        cursor: pointer;
      }
      .your-list {
        font-size: 1.2rem;
      }

      .list-options {
        /* border: 2px solid green; */
        overflow-y: scroll;
        padding-left: 0.7rem;
        padding-bottom: 3rem !important;
        /* height: calc(100dvh - calc(var(--top-options) + var(--all-list-options))); */
      }
      .list-options::-webkit-scrollbar {
        width: 0;
      }
      .list-options:hover::-webkit-scrollbar {
        width: 5px !important;
      }
      .list-options {
        overflow: -moz-scrollbars-none;
      }
      .list-options {
        -ms-overflow-style: none;
      }
      .list-options::-webkit-scrollbar-thumb {
        background-color: white;
      }

      .dashboard {
        background-color: var(--main-bg);
        border-radius: var(--border-radius);
        flex-grow: 1;
        overflow-y: scroll;
        width: 70%;
      }
      .dashboard::-webkit-scrollbar {
        width: 5px !important;
      }
      .dashboard {
        overflow: -moz-scrollbars-none;
      }
      .dashboard {
        -ms-overflow-style: none;
      }
      .dashboard::-webkit-scrollbar-thumb {
        background-color: white;
      }
    </style>
  </head>
  <body>
    <!-- <% if (successMsg && successMsg.length) { %>
        <p class="success-msg">Welcome, <%= currUser.name %></p>
    <% } %> -->

    <main id="main">
      <div class="overview" id="overview-sec">
        <div class="top-options">
          <div>
            <a href="/dashboard"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="rgba(255,255,255,1)"
              >
                <path
                  d="M21 20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V9.48907C3 9.18048 3.14247 8.88917 3.38606 8.69972L11.3861 2.47749C11.7472 2.19663 12.2528 2.19663 12.6139 2.47749L20.6139 8.69972C20.8575 8.88917 21 9.18048 21 9.48907V20ZM11 13V19H13V13H11Z"
                ></path>
              </svg>
              <div>Dashboard</div></a
            >
          </div>
          <div>
            <input
              type="text"
              name="searching"
              id=""
              placeholder="Search Your List Or Task"
            /><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="rgba(255,255,255,1)"
              class="search-icon"
            >
              <path
                d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"
              ></path>
            </svg>
          </div>
        </div>

        <div class="list-section">
          <div class="all-list-options">
            <!-- <h1>Hello Ji</h1> -->
            <div>
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="rgba(255,255,255,1)"
                >
                  <path
                    d="M8.00008 6V9H5.00008V6H8.00008ZM3.00008 4V11H10.0001V4H3.00008ZM13.0001 4H21.0001V6H13.0001V4ZM13.0001 11H21.0001V13H13.0001V11ZM13.0001 18H21.0001V20H13.0001V18ZM10.7072 16.2071L9.29297 14.7929L6.00008 18.0858L4.20718 16.2929L2.79297 17.7071L6.00008 20.9142L10.7072 16.2071Z"
                  ></path>
                </svg>
                <div class="your-list">Your List</div>
              </div>
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="rgba(255,255,255,1)"
                >
                  <path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="rgba(255,255,255,1)"
                >
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>

          <div class="list-options">
            <!-- <div class="all-lists">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
                cumque quo consequuntur! Minus quae eum culpa eos. Facere,
                repellat tempore fugiat dolor cum ea nisi, accusantium,
                doloremque quod ipsam voluptates.
              </p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="dashboard">
        <h1>Main Content of dashboard</h1>
      </div>
    </main>

    <script defer>
      const topOptions = document.querySelector(".top-options");
      console.log(topOptions);
      const allListOptions = document.querySelector(".all-list-options");
      console.log(allListOptions);
      const listOptions = document.querySelector(".list-options");
      console.log(listOptions);
      const totalHeight = window.innerHeight;

      let removalHeight = topOptions.offsetHeight + allListOptions.offsetHeight;
      console.log(removalHeight);

      listOptions.style.height = totalHeight - removalHeight + "px";
    </script>
  </body>
</html>
