<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanHolder: Project Management & Team Collaboration Software</title>
    <link rel="shortcut icon" href="./img/home-page/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/home-page.css">
</head>
<body>
    <header>
        <nav>
            <ul class="ul-1">
                <li>
                    <a href="/" id="main-logo">
                        <img src="./img/home-page/logo.png" alt="logo" class="logo">
                        <span class="logo-name">PlanHolder</span>
                    </a>
                </li>
                <li>
                    <button href="">Why PlanHolder ?</button>
                </li>
                <li>
                    <button href="">Features ?</button>
                </li>
                <li>
                    <a href="">Pricing</a>
                </li>
            </ul>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="" class="book-plan">Book a demo</a></li>
                <li><a href="" class="start-plan">Start your free trial</a></li>
            </ul>
        </nav>
    </header>
    <div class="empty-for-header"></div>


    <main>
        <section class="sec-1">
            <div class="sec-1-par">
                <div class="sec-1-left">
                    <div class="reviews">
                        <div class="review">
                            <div class="stars">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>"Accountability is no more an issue"</p>
                        </div>
                        <div class="review">
                            <div class="stars">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>"With flat-fee, no more breaking the bank"</p>
                        </div>
                        <div class="review">
                            <div class="stars">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>"We can now easily track project progress"</p>
                        </div>
                    </div>
                    <div class="sec-left-content">
                        The one place for all your 
                        <a class="textDecorationGreen" href="#projectManagement">projects</a> and <a class="textDecorationGreen" href="#collaboration">team collaboration</a>
                    </div>

                    <p class="mb-3"> <em><span style="cursor: default;"><strong>Earlier:</strong></span></em> Projects were scattered, it was hard to know where things stood, communication gaps existed, and people felt stressed.</p>

                    <p class="mb-3"><em><span style="cursor: default;"><strong>With ProofHub:</strong></span></em>Everything is organized, project progress is clear, everyone's on the same page, and people feel at ease.</p>

                    <div class="sec-1-end">
                        <div>
                            <button>Start your free trial</button>
                            <p>No credit card required. Cancel anytime.</p>
                        </div>
                        <p>How PlanHolder Works?</p>
                    </div>
                </div>
                <div class="sec-1-right"><img src="./img/home-page/collaboration-software.jpg" alt="collaboration-software.jpg"></div>
            </div>

        </section>
    </main>
</body>
</html>