<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlanHolder: Project Management & Team Collaboration Software</title>
    <link
      rel="shortcut icon"
      href="./img/home-page/logo.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/home-page.css" />

    <script src="/js/common.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="ul-1">
          <li>
            <a href="/" id="main-logo">
              <img src="./img/home-page/logo.png" alt="logo" class="logo" />
              <span class="logo-name">PlanHolder</span>
            </a>
          </li>
          <li>
            <button href="" class="drop-btn" id="drop-btn-1">Why PlanHolder <i class="ri-arrow-down-s-fill"></i></button>
          </li>
          <li>
            <button href="" class="drop-btn" id="drop-btn-2">Features <i class="ri-arrow-down-s-fill"></i></button>
          </li>
          <li>
            <a href="">Pricing</a>
          </li>
        </ul>
        <ul>
          <li><a href="">Login</a></li>
          <li><a href="" class="book-plan">Book a demo</a></li>
          <li><a href="" class="start-plan">Start your free trial</a></li>
        </ul>
      </nav>
    </header>
    <div class="empty-for-header"></div>
    <div class="drop-out-1 dropout-unactive">
      <div class="drop-out-par">
        <div id="drop-sec-1">
          <p class="drop-title">Teams</p>
          <div class="drop-out-links">
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
          </div>
        </div>

        <!-- drop-sec-2 -->
        <div id="drop-sec-2">
          <p class="drop-title">Workflows</p>
          <div class="drop-out-links">
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
          </div>
        </div>

        <!-- drop-sec-3 -->
        <div id="drop-sec-3">
          <p class="drop-title">Explore PlanHolder</p>
          <div class="drop-out-links">
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="drop-out-2 dropout-unactive">
      <div class="drop-out-par2">
        <div id="drop-sec-1">
          <p class="drop-title">Views</p>
          <div class="drop-out-links2">
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ftf</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
          </div>
        </div>

        <!-- drop-sec-2 -->
        <div id="drop-sec-2">
          <p class="drop-title">Community</p>
          <div class="drop-out-links">
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
          </div>
        </div>

        <!-- drop-sec-3 -->
        <div id="drop-sec-3">
          <p class="drop-title">New</p>
          <div class="drop-out-links">
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
            <div>
              <div><i class="ri-shut-down-fill"></i></div>
              <div>
                <h4>ABc</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deleniti</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <main>
      <section class="sec-1">
        <div class="sec-1-par">
          <div class="sec-1-left">
            <div class="reviews">
              <div class="review">
                <div class="stars">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>"Accountability is no more an issue"</p>
              </div>
              <div class="review">
                <div class="stars">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>"With flat-fee, no more breaking the bank"</p>
              </div>
              <div class="review">
                <div class="stars">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>"We can now easily track project progress"</p>
              </div>
            </div>
            <div class="sec-left-content">
              The one place for all your
              <a class="textDecorationGreen" href="#projectManagement"
                >projects</a
              >
              and
              <a class="textDecorationGreen" href="#collaboration"
                >team collaboration</a
              >
            </div>

            <p class="mb-3">
              <em
                ><span style="cursor: default"
                  ><strong>Earlier:</strong></span
                ></em
              >
              Projects were scattered, it was hard to know where things stood,
              communication gaps existed, and people felt stressed.
            </p>

            <p class="mb-3">
              <em
                ><span style="cursor: default"
                  ><strong>With ProofHub:</strong></span
                ></em
              >
              Everything is organized, project progress is clear, everyone's on
              the same page, and people feel at ease.
            </p>

            <div class="sec-1-end">
              <div>
                <button>Start your free trial</button>
                <p><i class="ri-play-circle-line"></i>How PlanHolder Works?</p>
              </div>
              <p class="no-credit">No credit card required. Cancel anytime.</p>
            </div>
          </div>
          <div class="sec-1-right">
            <img
              src="./img/home-page/collaboration-software.jpg"
              alt="collaboration-software.jpg"
            />
          </div>
        </div>
      </section>

      <section class="sec-2">
        <p>Trusted by businesses and teams around the globe</p>
        <div>
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/boeing-logo.svg"
            alt=""
            srcset=""
            class="sec-2-img"
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/michigan-logo.svg"
            alt=""
            srcset=""
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/netflix-logo.svg"
            alt=""
            srcset=""
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/google-logo.svg"
            alt=""
            srcset=""
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/nasa-logo.svg"
            alt=""
            srcset=""
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/nike-logo.svg"
            alt=""
            srcset=""
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/pintrest-logo.svg"
            alt=""
            srcset=""
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/tripadvisor-logo.svg"
            alt=""
            srcset=""
            class="sec-2-img"
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/disney-logo.svg"
            alt=""
            srcset=""
          />
          <img
            src="https://www.proofhub.com/wp-content/themes/ph5.1/images/common/marriott-logo.svg"
            alt=""
            srcset=""
          />
        </div>
      </section>

      <section class="sec-3">
        <div class="sec-3-par">
          <div class="sec-3-upper">
            <p>PROJECT MANAGEMENT</p>
            <h2>All your projects and teamwork in one place</h2>
            <nav class="sec-3-options">
              <div class="active-option-s3">Projects & Tasks</div>
              <div>Views</div>
              <div>Time tracking</div>
              <div>Workflows</div>
              <div>Templates</div>
              <div>Reports</div>
              <div>Files & Documents</div>
            </nav>
          </div>
          <div class="sec-3-lowwer">
            <div class="sec-3-all-content">
                <div class="sec-3-content">
                    <p>Projects & Tasks</p>
                    <p>
                      Plan, track, & manage projects of any size, from simple to
                      complex–across your team from one easy-to-use platform.
                    </p>
                    <div>
                      <div><span>1</span> Forms</div>
                      <div><span>2</span> Workflows</div>
                      <div><span>3</span> Custom fiels</div>
                      <div><span>4</span> Dependencies</div>
                      <div><span>5</span> Reports</div>
                      <p><a href="">Learn More</a></p>
                    </div>
                    <button>Get started for free</button>
                </div>
                <div class="sec-3-content unactive">
                    <p>Views</p>
                    <p>
                      Upcoming feature, where you can see different views of your tasks for better analysis.
                    </p>
                    <div>
                      <div><span>1</span> Board View</div>
                      <div><span>2</span> Table View</div>
                      <div><span>3</span> Gantt View</div>
                      <div><span>4</span> Calendar View</div>
                    </div>
                    <button>Get started for free</button>
                </div>
                <div class="sec-3-content unactive">
                    <p>Time Tracking</p>
                    <p>
                        Track time spent on tasks manually or using a timer.  Set time estimates for each task and track the time spent for accurate data for easy analysis.
                    </p>
                    <div>
                      <div><span>1</span> Timesheets</div>
                      <div><span>2</span> Time estimates</div>
                      <div><span>3</span> Timer</div>
                      <div><span>5</span> Reports</div>
                      <div><span>4</span> Export timesheets</div>
                      <p><a href="">Learn More</a></p>
                    </div>
                    <button>Get started for free</button>
                </div>
                <div class="sec-3-content unactive">
                    <p>Workflows</p>
                    <p>
                        Create custom workflows to map your team's process from start to finish. Use them to track how tasks progress from idea to completion and keep everyone on the same page as work progresses.
                    </p>
                    <div>
                      <div><span>1</span> Workflow stages</div>
                      <div><span>2</span> Default workflow</div>
                      <div><span>3</span> Custom workflow</div>
                      <p><a href="">Learn More</a></p>
                    </div>
                    <button>Get started for free</button>
                </div>
                <div class="sec-3-content unactive">
                    <p>Templates</p>
                    <p>
                        Create custom project templates by adding tasklists, discussion topics, timesheets, notes and more. Use templates to get started on new projects quickly without having to fill in details from scratch.
                    </p>
                    <button>Get started for free</button>
                </div>
                <div class="sec-3-content unactive">
                    <p>Reports</p>
                    <p>
                        Create custom reports to get actionable insights into your project and resources. See which project is on track, stay up-to-date on the progress of your tasks, from start to finish.
                    </p>
                    <div>
                      <div><span>1</span> Project status</div>
                      <div><span>2</span> Task completion</div>
                      <div><span>3</span> Resource utilization</div>
                      <div><span>4</span> Time utilization</div>
                      <div><span>5</span> Time logged</div>
                      <p><a href="">Learn More</a></p>
                    </div>
                    <button>Get started for free</button>
                </div>
                <div class="sec-3-content unactive">
                    <p>Files & Documents</p>
                    <p>
                        Upload  & organize all your creative assets in one place. Proof & approve files, upload multiple versions and share them easily.
                    </p>
                    <div>
                      <div><span>1</span> Proofing</div>
                      <div><span>2</span> File versioning</div>
                      <div><span>3</span> Collaboration</div>
                      <div><span>4</span> Approval</div>
                      <p><a href="">Learn More</a></p>
                    </div>
                    <button>Get started for free</button>
                </div>
            </div>
            <div class="sec-3-img">
              <img
                src="https://www.proofhub.com/wp-content/themes/ph5.1/images/home/task-table-view.png"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </section>

      <section class="sec-4">
        <div class="sec-4-par">
          <div class="sec-4-upper">
            <p>COLLABORATION</p>
            <h2>All your team’s communication in one place</h2>
            <nav class="sec-4-options">
              <div class="active-option-s4">Discussion</div>
              <div>Proofing & Approval</div>
              <div>Notes</div>
              <div>Announcements</div>
              <div>Chat</div>
            </nav>
          </div>
          <div class="sec-4-lowwer">
            <div class="sec-4-all-content">
              <div class="sec-4-content">
                <p>Discussions</p>
                <p>
                  Keep conversations organized, focused & on topic with threaded
                  discussion. Loop in team members & stakeholders by adding them
                  to a conversation to keep everyone on the same page. Get all the
                  relevant details related to the topic documented in one place.
                </p>
                <div>
                  <p><a href="">Learn More</a></p>
                </div>
                <button>Get started for free</button>
              </div>
              <div class="sec-4-content unactive">
                <p>Proofing</p>
                <p>
                  Collaborate on creative assets with your team. Add annotations to provide clear, actionable feedback instantly. Review, approve, and share feedback on files & documents.
                </p>
                <div>
                  <div><span>1</span> Proofing</div>
                  <div><span>2</span> File versioning</div>
                  <div><span>3</span> Collaboration</div>
                  <div><span>4</span> Approval</div>
                  <p><a href="">Learn More</a></p>
                </div>
                <button>Get started for free</button>
              </div>
              <div class="sec-4-content unactive">
                <p>Notes</p>
                <p>
                  Capture ideas, jot down important details, action items, and internal wiki all in one place. Collaborate on shared notes with your team members and make edits instantly.
                </p>
                <div>
                  <p><a href="">Learn More</a></p>
                </div>
                <button>Get started for free</button>
              </div>
              <div class="sec-4-content unactive">
                <p>Announcements</p>
                <p>
                  Share updates across teams, celebrate achievements, notify teams of new guidelines and confirm priority changes to the right people at the right time.
                </p>
                <div>
                  <div><span>1</span> Schedule announcements</div>
                  <div><span>2</span> Subscribe people </div>
                  <div><span>3</span> Collaborate using comments</div>
                  <div><span>4</span> @Mention people</div>
                  <div><span>5</span> Share files & docs</div>
                  <p><a href="">Learn More</a></p>
                </div>
                <button>Get started for free</button>
              </div>
              <div class="sec-4-content unactive">
                <p>Chat</p>
                <p>
                  Speed up communication—ask questions & get quick answers from your team and clients through one-to- one conversations or group chats. Send direct messages, files, images, and more with people working on projects.
                </p>
                <div>
                  <div><span>1</span> One to one chat</div>
                  <div><span>2</span> Group chat</div>
                  <div><span>3</span> File & document sharing</div>
                  <p><a href="">Learn More</a></p>
                </div>
                <button>Get started for free</button>
              </div>
            </div>
            <div class="sec-4-img">
              <img
                src="https://www.proofhub.com/wp-content/themes/ph5.1/images/home/discussion.png"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </section>

      <section class="sec-5">
        <p>ONE TOOL</p>
        <h1>One unified workspace for all things project</h1>
        <div class="tools">
          <div class="tool">
            <div>
              <i class="ri-menu-2-fill"></i>
            </div>
            <div>
              <h4>Forms</h4>
              <p>
                Stay on top of every request, manage client feedback, and
                collect valuable data using forms. Create own fields to capture
                relevant data for all requests, gather feedback & collate data.
                Get all request turned into tasks to easily allocate and
                follow-up on requests.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-input-field"></i>
            </div>
            <div>
              <h4>Custom fields</h4>
              <p>
                Add custom fields in tasks to input data based on your project's
                needs. Get relevant information on your tasks and view them in
                one place.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-shield-user-fill"></i>
            </div>
            <div>
              <h4>Custom roles</h4>
              <p>
                Control who can access what by creating roles with different
                permissions. Define what information users can view, manage, and
                edit within ProofHub.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-translate-2"></i>
            </div>
            <div>
              <h4>Multi-lingual</h4>
              <p>
                With a multilingual interface, you can choose to work in the
                language of your choice — English, French, Spanish, Polish,
                Portuguese etc, are supported.p>
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-palette-fill"></i>
            </div>
            <div>
              <h4>White labeling</h4>
              <p>
                Personalize your account on ProofHub to be consistent with the
                look and feel of your brand with a custom domain, your own logo,
                and colors.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-mail-fill"></i>
            </div>
            <div>
              <h4>Email-in</h4>
              <p>
                Get feedback and capture requests from your team members and
                clients by emailing them to the mail address for each task list.
                Save those addresses in your contacts so that you can quickly
                add tasks via email.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-calendar-2-fill"></i>
            </div>
            <div>
              <h4>Daily agenda</h4>
              <p>
                Know what needs to be accomplished each day before starting
                work. See all their work clearly defined to know what’s more
                important and what isn’t.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-user-fill"></i>
            </div>
            <div>
              <h4>Project manager</h4>
              <p>
                Decide who manages which project. Get notifications of anything
                that can delay the project and help team members stay on track.
              </p>
            </div>
          </div>
          <div class="tool">
            <div>
              <i class="ri-file-copy-2-line"></i>
            </div>
            <div>
              <h4>File versioning</h4>
              <p>
                Upload multiple versions of file and keep track of changes and
                easily revert to any older versions whenever necessary.
              </p>
            </div>
          </div>
        </div>
        <button>See all features</button>
      </section>

      <section class="sec-6">
        <p>INTEGRATIONS</p>
        <h2>Integrate with the tools your team already uses</h2>
        <div class="integration-tools">
          <div class="inte-tool">
            <img src="/img/home-page/vector.svg" alt="" />
          </div>
          <div class="inte-tool">
            <img src="/img/home-page/vector.svg" alt="" />
          </div>
          <div class="inte-tool">
            <img src="/img/home-page/vector.svg" alt="" />
          </div>
          <div class="inte-tool">
            <img src="/img/home-page/vector.svg" alt="" />
          </div>
          <div class="inte-tool">
            <img src="/img/home-page/vector.svg" alt="" />
          </div>
          <div class="inte-tool">
            <img src="/img/home-page/vector.svg" alt="" />
          </div>
        </div>
        <a href="">View all integrations</a>
      </section>
    </main>

    <footer>
      <p class="footer-text">© 2024 PlanHolder. All rights reserved.</p>
    </footer>

    <script>
      const s3MainOptions = document.querySelector(".sec-3-options");
      const s3Lowwer = document.querySelector(".sec-3-lowwer");
      const s3ImgOptions = [
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/task-table-view.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/board-view.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/time-tracking.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/workflow.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/project-template.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/reports.png",
        "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/files.png",
      ];

      s3MainOptions.addEventListener("click", (event) => {
        // console.log(event.target);
        if (event.target != event.currentTarget) {
          let active = 0;
          for (let i = 0; i < s3MainOptions.children.length; i++) {
            let curr = s3MainOptions.children[i];
            if (curr == event.target) {
              active = i;
            }
            curr.classList.remove("active-option-s3");
          }

          let currOption = event.target;
          currOption.classList.add("active-option-s3");
          s3Lowwer.children[1].children[0].src = s3ImgOptions[active]; //for img


          for(let i=0;i<s3Lowwer.children[0].children.length;i++){
            s3Lowwer.children[0].children[i].classList.add("unactive");
          }
          s3Lowwer.children[0].children[active].classList.remove("unactive");
          // console.log(s3Lowwer.children[0].children);
        }
      });




      const s4MainOptions = document.querySelector(".sec-4-options");
      const s4Lowwer = document.querySelector(".sec-4-lowwer");
      const s4ImgOptions = [
      "https://www.proofhub.com/wp-content/themes/ph5.1/images/home/discussion.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/proofing.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/note.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/announcement.png","https://www.proofhub.com/wp-content/themes/ph5.1/images/home/chat.png"
      ];
      
      s4MainOptions.addEventListener("click", (event) => {
        // console.log(event.target);
        if (event.target != event.currentTarget) {
          let active = 0;
          for (let i = 0; i < s4MainOptions.children.length; i++) {
            let curr = s4MainOptions.children[i];
            if (curr == event.target) {
              active = i;
            }
            curr.classList.remove("active-option-s4");
          }

          let currOption = event.target;
          currOption.classList.add("active-option-s4");
          s4Lowwer.children[1].children[0].src = s4ImgOptions[active]; //for img


          for(let i=0;i<s4Lowwer.children[0].children.length;i++){
            s4Lowwer.children[0].children[i].classList.add("unactive");
          }
          s4Lowwer.children[0].children[active].classList.remove("unactive");
          // console.log(s4Lowwer.children[0].children);
        }
      });
    </script>
  </body>
</html>
